body {
    margin: 0%;
    border: 40px;
}
li {
    list-style: none;
    display: inline-block;
    align-content: center;
}
button {
    position: inherit;
}
.logo {
    width: 35px;
    height: 35px;
    margin: 10px;
}
.img {
    background-color: white;
    background-size: cover;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 1px solid white;
    align-content: 1px center;
}
div.gallery {
    margin: 5px;
    border: 1px solid white;
    float: left;
    width: 500px;
    box-shadow: 2px 2px 10px rgb(101, 53, 53);
}

div.gallery:hover {
    border: 2px;
}

div.gallery img {
    width: 100%;
    height: auto;
    align-items: center;
}

div.desc {
    padding: 10px;
    text-align: center;
}